<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
    <!--user-->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>servlets.ListUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <!--tour-->
    <servlet>
        <servlet-name>AddTourServlet</servlet-name>
        <servlet-class>servlets.AddTourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTourServlet</servlet-name>
        <url-pattern>/addTour</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListTourServlet</servlet-name>
        <servlet-class>servlets.ListTourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTourServlet</servlet-name>
        <url-pattern>/listTours</url-pattern>
    </servlet-mapping>
    <!--hotel-->
    <servlet>
        <servlet-name>AddHotelServlet</servlet-name>
        <servlet-class>servlets.AddHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHotelServlet</servlet-name>
        <url-pattern>/addHotel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListHotelServlet</servlet-name>
        <servlet-class>servlets.ListHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListHotelServlet</servlet-name>
        <url-pattern>/listHotels</url-pattern>
    </servlet-mapping>
    <!--Country-->
    <servlet>
        <servlet-name>AddCountryServlet</servlet-name>
        <servlet-class>servlets.AddCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCountryServlet</servlet-name>
        <url-pattern>/addCountry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCountryServlet</servlet-name>
        <servlet-class>servlets.ListCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCountryServlet</servlet-name>
        <url-pattern>/listCountries</url-pattern>
    </servlet-mapping>
</web-app>

